{% extends 'eZDemoBundle::pagelayout.html.twig' %}

{% block content %}        
    <style>
        #search_contentTypes {
            height:150px;
        }
    </style>
    <h1>Custom eZ Search</h1>
    <p>Search for anything here...</p>

    {{ form_start(form) }}
        <table style="margin: 0 auto;">
            <tr>
                <td style="width:320px;"><strong>Search</strong>{{ form_row(form.searchQuery) }}</td>
                <td style="width:320px;"><strong>Select your filter(s)</strong>{{ form_row(form.contentTypes) }}</td>
                <td style="width:320px;">{{ form_widget(form.save) }}</td>
            </tr>
        </table>
    {{ form_end(form) }}
<br>
{% endblock %}